snapshots/v0.7.150124qcb/app/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>comgen2. the ultimate combination tool</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="icon" href="favicon.ico"/>
  </head>
  <body class="fp">
    <div class="fpheader">comgen2. the ultimate combination tool</div>
    <div class="fpcontent"><a href="yeah.html" class="fpLink">ready to combine?</a></div>
    <div class="fpfooter"><a href="http://7prism.com"><img src="images/0-small.png"/></a></div>
    <script>
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter27279434 = new Ya.Metrika({id:27279434,
                          webvisor:true,
                          clickmap:true,
                          trackLinks:true,
                          accurateTrackBounce:true});
              } catch(e) { }
          });
      
          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
      
          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/27279434" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  </body>
</html>

html/index.jade
<!DOCTYPE html>
html(lang='en')
	head
		meta(charset='UTF-8')
		title comgen2. the ultimate combination tool
		link(rel="stylesheet", href="css/main.css")
		link(rel="icon", href="favicon.ico")
	body.fp
		.fpheader
			|comgen2. the ultimate combination tool

		.fpcontent
			a(href="yeah.html" class="fpLink") ready to combine?
		.fpfooter
			a(href="http://gosteev.me")
				img(src="images/crown.png")
