snapshots/v0.1.141124qag/app/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>comgen2</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <div class="levelContanter"></div>
    <div class="modal lastLevelModal fade bs-example-modal-sm">
      <div class="modal-dialog">
        <div class="modal-content">
          <p style="padding: 15px">you can not delete the last level</p>
          <button style="margin-left: 15px" data-dismiss="modal">okay :(</button>
        </div>
      </div>
    </div>
    <div class="modal editModal fade bs-example-modal-sm">
      <div class="modal-dialog">
        <div class="modal-content">
          <textarea id="editModalTextbox" style="padding: 15px"></textarea><br>
          <button id="editModalDoneButton" style="margin-left: 15px">done</button>
        </div>
      </div>
    </div>
    <div class="modal settingsModal fade bs-example-modal-sm">
      <div class="modal-dialog">
        <div class="modal-content">
          <p style="padding: 15px">comgen2 beta v0.1.141124 build qag (17:17)</p>
          <input id="checkboxSortOutput" style="margin-left: 10px" type="checkbox"/>&nbsp;&nbsp;sort output by alphabetical order
          <br>
          <input id="checkboxConfirmation" style="margin-left: 10px" type="checkbox"/>&nbsp;&nbsp;do not request confirmation on deleting
          <br><br>
          <button id="settingsSaveButton" style="margin-left: 15px" data-dismiss="modal">save</button>&nbsp;&nbsp;(clicking outside will save settings too)
        </div>
      </div>
    </div>
    <div class="modal deleteNodeModal fade bs-example-modal-sm">
      <div class="hiddenInfo"></div>
      <div class="modal-dialog">
        <div class="modal-content">
          <p style="padding: 15px">are you sure you want to delete this node?</p>
          <button id="deleteNodeYes" style="margin-left: 15px" data-dismiss="modal">Yes</button>
          <button id="deleteNodeNo" style="margin-left: 15px" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
    <div class="modal deleteLevelModal fade bs-example-modal-sm">
      <div class="hiddenInfo"></div>
      <div class="modal-dialog">
        <div class="modal-content">
          <p style="padding: 15px">are you sure you want to delete this level?</p>
          <button id="deleteLevelYes" style="margin-left: 15px" data-dismiss="modal">Yes</button>
          <button id="deleteLevelNo" style="margin-left: 15px" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
    <div class="controlPanel">
      <div class="consoleWrapper">
        <div class="console"></div>
      </div>
      <button id="doneButton">done. go to linking</button>
      <button id="backButton">go back to layout</button>
      <button id="startButton">okay, let's go!</button>
      <button id="settingsButton">settings</button>
    </div>
    <div class="outputContainer"></div>
    <script src="js/app.js"></script>
  </body>
</html>

snapshots/v0.2.141126bbi/html/index.jade
<!DOCTYPE html>
html(lang='en')
	head
		meta(charset='UTF-8')
		title comgen2
		link(rel="stylesheet", href="css/main.css")
	body
		//- .greetings hello motherfucker
		.levelContanter

		//- bootstrap last level delete modal
		.modal.lastLevelModal.fade.bs-example-modal-sm()
			.modal-dialog
				.modal-content
					p(style="padding: 15px") you can not delete the last level
					button(style="margin-left: 15px" data-dismiss="modal") okay :(
		//- # # # # #

		//- bootstrap edit node content modal
		.modal.editModal.fade.bs-example-modal-sm()
			.modal-dialog
				.modal-content
					textarea(id="editModalTextbox" style="padding: 15px")
					<br>
					button(id="editModalDoneButton" style="margin-left: 15px") done
					p(style="float:right;margin-right:30px") ctrl/cmd + enter works fine
		//- # # # # #

		//- bootstrap settings modal
		.modal.settingsModal.fade.bs-example-modal-sm()
			.modal-dialog
				.modal-content
					p(style="padding: 15px") comgen2 beta v0.2.141126bbi
					input(id="checkboxSortOutput" style="margin-left: 10px" type="checkbox") 
					|&nbsp;&nbsp;sort output by alphabetical order
					<br>
					input(id="checkboxConfirmation" style="margin-left: 10px" type="checkbox") 
					|&nbsp;&nbsp;do not request confirmation on deleting
					<br><br>
					button(id="settingsSaveButton" style="margin-left: 15px" data-dismiss="modal") save
					|&nbsp;&nbsp;(clicking outside will save settings too)
					//- button(id="settingsCancelButton" style="margin-left: 15px" data-dismiss="modal") cancel
		//- # # # # #

		//- bootstrap delete node
		.modal.deleteNodeModal.fade.bs-example-modal-sm()
			.hiddenInfo
			.modal-dialog
				.modal-content
					p(style="padding: 15px") are you sure you want to delete this node?
					button(id="deleteNodeYes" style="margin-left: 15px" data-dismiss="modal") Yes
					button(id="deleteNodeNo" style="margin-left: 15px" data-dismiss="modal") No
		//- # # # # #

		//- bootstrap devete level
		.modal.deleteLevelModal.fade.bs-example-modal-sm()
			.hiddenInfo
			.modal-dialog
				.modal-content
					p(style="padding: 15px") are you sure you want to delete this level?
					button(id="deleteLevelYes" style="margin-left: 15px" data-dismiss="modal") Yes
					button(id="deleteLevelNo" style="margin-left: 15px" data-dismiss="modal") No
		//- # # # # #

		.controlPanel
			.consoleWrapper
				.console
			button#doneButton done. go to linking
			button#backButton go back to layout
			button#startButton okay, let's go!
			button#settingsButton settings
		.outputContainer
		script(src='js/app.js')
